body {
  background-color: rgba(0, 0, 0, 0.877);
  color: rgb(0, 255, 0);
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: top;
  flex-direction: row;
}

.jogo {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.jogo h1 {
  font-weight: bold;
  font-size: 40px;
}

.copyright {
  padding-top: 20px;
}
